# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Anaconda
anaconda_projects/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db